<?xml version="1.0" ?>
<model>
    <name>Gimbal 2D</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Domenico Morales</name>
        <email>domenicomo0798@gmail.com</email>
    </author>
    <description>2D gimbal for small camera (go pro size) on drone with camera ros topic.
      3D mesh: http://www.thingiverse.com/thing:397579
      by: http://www.thingiverse.com/Motorpixiegimbals/about
    </description>
</model>
