<?xml version="1.0"?>

<model>
  <name>Iris with Standoffs Lidar and Camera LiftDrag ArduCopter Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Domenico Morales</name>
    <email>domenicomo0798@gmail.com</email>
  </author>

  <description>
    starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_2d model
    attach lidar_h model
    attach lidar_v model
  </description>
  <depend>
    <model>
      <uri>model:://lidar_v</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model:://lidar_h</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://gimbal_2d</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
